/* ===== FOOTER ===== */
.footer {
    background: #111111;
    color: rgba(255, 255, 255, 0.75);
    font-family: var(--font-main);
}

/* ===== BAGIAN ATAS ===== */
.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 60px 80px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* ===== KOLOM BRAND ===== */
.footer-brand {
    max-width: 280px;
}

.footer-logo {
    font-size: 18px;
    font-weight: 700;
    color: rgba(212, 175, 55, 1);
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
    display: block;
    margin-bottom: 16px;
}

.footer-desc {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.55);
}

/* ===== KOLOM KONTAK ===== */
.footer-title {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    color: rgba(212, 175, 55, 1);
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 20px;

}

.footer-nav ul,
.footer-contact ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-nav ul li a {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
    text-decoration: none;
    transition: all 0.2s;
}

.footer-nav ul li a:hover {
    color: rgba(212, 175, 55, 1);
    padding-left: 6px;
}

.footer-contact ul li {
    font-size: 14px;
    color: rgba(255, 255, 255, 0.55);
    line-height: 1.7;
}

/* ===== BAGIAN BAWAH ===== */
.footer-bottom {
    padding: 15px 80px;
    text-align: center;
    font-size: 13px;
    color: rgba(255, 255, 255, 0.35);
}

/* ===== TABLET ===== */
@media (max-width: 768px) {
    .footer-top {
        flex-direction: column;
        gap: 32px;
        padding: 40px;
    }

    .footer-bottom {
        padding: 20px 40px;
    }
}

/* ===== HP ===== */
@media (max-width: 480px) {
    .footer-top {
        padding: 40px 24px;
    }

    .footer-bottom {
        padding: 20px 24px;
        text-align: center;
        justify-content: center;
    }

    .footer-logo {
        font-size: 15px;
    }
}